In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/delivery-orders/delivery_orders_march.csv

In [2]:
import pandas as pd

# load the data
data = pd.read_csv("/kaggle/input/delivery-orders/delivery_orders_march.csv")

# check the first 5 rows
data.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ..."
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M..."
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number..."
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...

In [3]:
# get the last words

# buyeraddress
u = data['buyeraddress'].str.partition()
Destination = pd.DataFrame({'destination': u[2].str.split().str[-1]})
data["destination"] = Destination
data["destination"] = data["destination"].str.lower()

# selleraddress
u = data['selleraddress'].str.partition()
Origin = pd.DataFrame({'origin': u[2].str.split().str[-1]})
data["origin"] = Origin
data["origin"] = data["origin"].str.lower()

# check the first 5 rows
data.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,destination,origin
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,manila,manila
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",manila,manila
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",manila,manila
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",manila,manila
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...,luzon,manila

In [4]:
# get SLA Matrix

def sla(data):
    if data["destination"] == "manila" and data["origin"] == "manila":
        return 3
    elif data["destination"] == "manila" and data["origin"] == "luzon":
        return 5
    elif data["destination"] == "manila" and data["origin"] == "viayas":
        return 7
    elif data["destination"] == "manila" and data["origin"] == "mindanao":
        return 7
    elif data["destination"] == "luzon" and data["origin"] == "manila":
        return 5
    elif data["destination"] == "luzon" and data["origin"] == "luzon":
        return 5
    elif data["destination"] == "luzon" and data["origin"] == "viayas":
        return 7
    elif data["destination"] == "luzon" and data["origin"] == "mindanao":
        return 7
    elif data["destination"] == "visayas" and data["origin"] == "manila":
        return 7
    elif data["destination"] == "visayas" and data["origin"] == "luzon":
        return 7
    elif data["destination"] == "visayas" and data["origin"] == "viayas":
        return 7
    elif data["destination"] == "visayas" and data["origin"] == "mindanao":
        return 7
    elif data["destination"] == "mindanao" and data["origin"] == "manila":
        return 7
    elif data["destination"] == "mindanao" and data["origin"] == "luzon":
        return 7
    elif data["destination"] == "mindanao" and data["origin"] == "viayas":
        return 7
    else:
        return 7
    


data["sla"] = data.apply(sla,axis=1)

# check the first 5 rows
data.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,destination,origin,sla
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,manila,manila,3
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",manila,manila,3
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",manila,manila,3
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",manila,manila,3
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...,luzon,manila,5

In [5]:
# Initiate public holidays
public_holidays = ["2020-03-08", "2020-03-25", "2020-03-30", "2020-03-31"]

In [6]:
# convert epoch time to standard datetime
data['pickup_time'] = pd.to_datetime(data['pick'], unit = 's').dt.date
data['1st_deliver_time'] = pd.to_datetime(data['1st_deliver_attempt'], unit = 's').dt.date
data['2nd_deliver_time'] = pd.to_datetime(data['2nd_deliver_attempt'], unit = 's').dt.date

# check the first 5 rows
data.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,destination,origin,sla,pickup_time,1st_deliver_time,2nd_deliver_time
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,manila,manila,3,2020-03-02,2020-03-05,NaT
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",manila,manila,3,2020-03-04,2020-03-06,2020-03-10
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",manila,manila,3,2020-03-04,2020-03-06,NaT
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",manila,manila,3,2020-03-05,2020-03-07,NaT
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...,luzon,manila,5,2020-03-04,2020-03-06,NaT

In [7]:
from datetime import datetime

# calculate the days taken by the logistics provider for 1st delivery attempt (excluding Sundays, and Public Holidays)
def get_busday_first(data):
    create_date = str(data['pickup_time'])
    resolve_date = str(data['1st_deliver_time'])

    create_datetime = datetime.strptime(create_date, '%Y-%m-%d')
    resolve_datetime = datetime.strptime(resolve_date, '%Y-%m-%d')

    busday = np.busday_count(create_date, resolve_date, holidays=public_holidays, weekmask=[1,1,1,1,1,1,0])

    return busday

In [8]:
data['1st_deliver_days'] = data.apply(get_busday_first, axis=1)

# check the first 5 rows
data.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,destination,origin,sla,pickup_time,1st_deliver_time,2nd_deliver_time,1st_deliver_days
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,manila,manila,3,2020-03-02,2020-03-05,NaT,3
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",manila,manila,3,2020-03-04,2020-03-06,2020-03-10,2
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",manila,manila,3,2020-03-04,2020-03-06,NaT,2
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",manila,manila,3,2020-03-05,2020-03-07,NaT,2
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...,luzon,manila,5,2020-03-04,2020-03-06,NaT,2

In [9]:
# calculate the days taken by the logistics provider for 2nd delivery attempt (excluding Sundays, and Public Holidays)
def get_busday_second(data):
    create_date = str(data['1st_deliver_time'])
    resolve_date = str(data['2nd_deliver_time'])
    
    if resolve_date == 'NaT':
        resolve_date = create_date

    create_datetime = datetime.strptime(create_date, '%Y-%m-%d')
    resolve_datetime = datetime.strptime(resolve_date, '%Y-%m-%d')

    busday = np.busday_count(create_date, resolve_date, holidays=public_holidays, weekmask=[1,1,1,1,1,1,0])

    return busday

In [10]:
data['2nd_deliver_days'] = data.apply(get_busday_second, axis=1)

# check the first 5 rows
data.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,destination,origin,sla,pickup_time,1st_deliver_time,2nd_deliver_time,1st_deliver_days,2nd_deliver_days
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,manila,manila,3,2020-03-02,2020-03-05,NaT,3,0
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",manila,manila,3,2020-03-04,2020-03-06,2020-03-10,2,3
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",manila,manila,3,2020-03-04,2020-03-06,NaT,2,0
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",manila,manila,3,2020-03-05,2020-03-07,NaT,2,0
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...,luzon,manila,5,2020-03-04,2020-03-06,NaT,2,0

In [11]:
# determine if the first delivery is late or not late
def latefirst(data):
    if data['1st_deliver_days'] <= data['sla']: # first delivery not late
        return 0
    else:
        return 1

In [12]:
data["is_late_1"] = data.apply(latefirst,axis=1)

# check the first 5 rows
data.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,destination,origin,sla,pickup_time,1st_deliver_time,2nd_deliver_time,1st_deliver_days,2nd_deliver_days,is_late_1
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,manila,manila,3,2020-03-02,2020-03-05,NaT,3,0,0
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",manila,manila,3,2020-03-04,2020-03-06,2020-03-10,2,3,0
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",manila,manila,3,2020-03-04,2020-03-06,NaT,2,0,0
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",manila,manila,3,2020-03-05,2020-03-07,NaT,2,0,0
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...,luzon,manila,5,2020-03-04,2020-03-06,NaT,2,0,0

In [13]:
# determine if the second delivery is late or not late
def latesecond(data):
    if data['2nd_deliver_days'] <= 3: # second delivery not late
        return 0
    else:
        return 1

In [14]:
data["is_late_2"] = data.apply(latesecond,axis=1)

# check the first 5 rows
data.head()

,orderid,pick,1st_deliver_attempt,2nd_deliver_attempt,buyeraddress,selleraddress,destination,origin,sla,pickup_time,1st_deliver_time,2nd_deliver_time,1st_deliver_days,2nd_deliver_days,is_late_1,is_late_2
0,2215676524,1583138397,1.583385e+09,NaN,"Baging ldl BUENAVISTA,PATAG.CAGAYAN Buagsong,c...",Pantranco vill. 417 Warehouse# katipunan 532 (...,manila,manila,3,2020-03-02,2020-03-05,NaT,3,0,0,0
1,2219624609,1583309968,1.583463e+09,1.583799e+09,coloma's quzom CASANAS Site1 Masiyan 533A Stol...,"BLDG 210A Moras C42B 2B16,168 church) Complex ...",manila,manila,3,2020-03-04,2020-03-06,2020-03-10,2,3,0,0
2,2220979489,1583306434,1.583460e+09,NaN,"21-O LumangDaan,Capitangan,Abucay,Bataan .Bign...","#66 150-C, DRIVE, Milagros Joe socorro Metro M...",manila,manila,3,2020-03-04,2020-03-06,NaT,2,0,0,0
3,2221066352,1583419016,1.583556e+09,NaN,"616Espiritu MARTINVILLE,MANUYO #5paraiso kengi...","999maII 201,26 Villaruel Barretto gen.t number...",manila,manila,3,2020-03-05,2020-03-07,NaT,2,0,0,0
4,2222478803,1583318305,1.583480e+09,NaN,L042 Summerbreezee1 L2(Balanay analyn Lot760 C...,G66MANILA Hiyas Fitness MAYSILO magdiwang Lt.4...,luzon,manila,5,2020-03-04,2020-03-06,NaT,2,0,0,0

In [15]:
# sum the values, so even if the first delivery is late and the second delivery is on time, it's still counted as late
not_late = data[(data["is_late_1"] + data["is_late_2"] == 0)][['orderid']]
not_late['is_late'] = 0
not_late.head()

      orderid  is_late
0  2215676524        0
1  2219624609        0
2  2220979489        0
3  2221066352        0
4  2222478803        0

In [16]:
late = data[~data['orderid'].isin(not_late['orderid'])][['orderid']]
late['is_late'] = 1
late.head()

       orderid  is_late
7   2224695304        1
19  2227790841        1
21  2227816770        1
22  2227817800        1
24  2227831996        1

In [17]:
final = pd.concat([late, not_late], axis=0)
final.head()

       orderid  is_late
7   2224695304        1
19  2227790841        1
21  2227816770        1
22  2227817800        1
24  2227831996        1

In [18]:
final.to_csv("solution.csv", index=False)